.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
}

.search-input {
    /* padding-right: 30px; */
    border-radius: 50px;
    padding: 15px;
    width: 70%;
}

.search-btn {
    padding: 17px 30px;
    background-color: blue;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 600;
}

.cart {
    border: 1px solid gray;
    box-shadow: 10px 10px 10px yellowgreen;
    border-radius: 30px;
    padding: 1px;
    margin-right: 10px;
    position: sticky;
    top: 0;
}